/*

userChrome.css
Custom Setup for Windows 10
    https://github.com/jfu299/win10setup
    https://raw.githubusercontent.com/jfu299/win10setup/main/userChrome.css
By: Justin Fu 
Updated: July 20, 2023

-------------------

Custom css for Firefox
    Set TRUE in about:config - toolkit.legacyUserProfileCustomizations.stylesheets
    Profile Root Directory (%UserProfile%\AppData\Roaming\Mozilla\Firefox\Profiles\[Profile Folder])
    Create Folder: "chrome" (%UserProfile%\AppData\Roaming\Mozilla\Firefox\Profiles\[Profile Folder]\Chrome)
    Copy and Paste this File into Folder

*/

/* ----- Tracking Protection Icon ----- */

#tracking-protection-icon {
  list-style-image: url(chrome://browser/skin/tracking-protection.svg) !important;
}

/* ----- Insecure / Not Secure Icon Red ----- */

#identity-box[pageproxystate="valid"].notSecure #identity-icon,
#identity-box[pageproxystate="valid"].mixedActiveContent #identity-icon,
#identity-box[pageproxystate="valid"].httpsOnlyErrorPage #identity-icon,
#identity-box[pageproxystate="valid"].weakCipher #identity-icon,
#identity-box[pageproxystate="valid"].mixedDisplayContent #identity-icon,
#identity-box[pageproxystate="valid"].mixedDisplayContentLoadedActiveBlocked #identity-icon,
#identity-box[pageproxystate="valid"].certErrorPage #identity-icon,
#identity-box[pageproxystate="valid"].mixedActiveBlocked #identity-icon,
#identity-box[pageproxystate="valid"].certUserOverridden #identity-icon {
  fill-opacity: 1;
  fill: #FF0000 !important;
}

/* ----- Not Secure Text Red ----- */

#identity-box[pageproxystate="valid"].notSecure #identity-icon-label,
#identity-box[pageproxystate="valid"].mixedActiveContent #identity-icon-label,
#identity-box[pageproxystate="valid"].httpsOnlyErrorPage #identity-icon-label,
#identity-box[pageproxystate="valid"].weakCipher #identity-icon-label,
#identity-box[pageproxystate="valid"].mixedDisplayContent #identity-icon-label,
#identity-box[pageproxystate="valid"].mixedDisplayContentLoadedActiveBlocked #identity-icon-label,
#identity-box[pageproxystate="valid"].mixedActiveBlocked #identity-icon-label,
#identity-box[pageproxystate="valid"].certUserOverridden #identity-icon-label,
#identity-box[pageproxystate="valid"].certErrorPage #identity-icon-label {
  color: #FF0000 !important;
}

/* ----- Firefox Page Secure Icon Orange ----- */

#identity-box[pageproxystate="valid"].chromeUI #identity-icon {
  list-style-image: url(chrome://global/skin/icons/security.svg) !important;
  fill-opacity: 1;
  color: #E66000 !important;
}

/* ----- Firefox Text Orange ----- */

#identity-box[pageproxystate="valid"].chromeUI #identity-icon-label {
  color: #E66000 !important;
}

/* ----- Secure Icon Green ----- */

#identity-box[pageproxystate="valid"].verifiedDomain #identity-icon {
  fill-opacity: 1;
  fill: #12BC00;
}

/* ---- Firefox Page / Extension Page Highlight ---- */

#identity-box[pageproxystate="valid"].chromeUI > .identity-box-button:not(:hover),
#identity-box[pageproxystate="valid"].extensionPage > .identity-box-button:not(:hover) {
  background-color: transparent !important;
}

#identity-box[pageproxystate="valid"].chromeUI > .identity-box-button:hover,
#identity-box[pageproxystate="valid"].extensionPage > .identity-box-button:hover {
  background-color: var(--urlbar-box-hover-bgcolor) !important;
}

#identity-box[pageproxystate="valid"].chromeUI > .identity-box-button[open=true],
#identity-box[pageproxystate="valid"].extensionPage > .identity-box-button[open=true] {
  background-color: var(--urlbar-box-active-bgcolor) !important;
}

/* ----- Hide Bookmark Star on URL bar ----- */

#star-button-box {
  display: none !important;
  }

/* ----- Extension Page URL Bar Shorten  ----- */

#identity-box.extensionPage label {
  display: none !important;
}

/* ----- Hide Camera and Microphone Popup Warning ----- */

#webrtcIndicator {
display: none !important;
}

/* ----- Remove Back, Forward, Reload, and Bookmark Star Button on Right Click Context Menu ----- */

#context-navigation {
  display: none !important;
}

/* ----- Hide Recent Bookmarks ----- */

/* Recent Bookmarks Heading */
#PanelUI-bookmarks #panelMenu_recentBookmarks, 
/* Recent Bookmarks List */
#PanelUI-bookmarks #panelMenu_bookmarksMenu {
display: none !important;
}

/* ----- Hide Extension Icon Toolbar ----- */

#unified-extensions-button{
  display: none !important;
}

/* ------------------- */

/* ----- Vertical Tabs ----- */

#TabsToolbar {
  display: none !important;
}

#menubar-items {
  display: none !important;
}

/* ------------------- */
