/*

userChrome.css
Custom Setup for Windows 10
    https://github.com/jfu299/win10setup
    https://raw.githubusercontent.com/jfu299/win10setup/main/userChrome.css
By: Justin Fu 
Updated: April 18, 2022

-------------------

Custom css for Firefox
    Set TRUE in about:config - toolkit.legacyUserProfileCustomizations.stylesheets
    Profile Root Directory (%UserProfile%\AppData\Roaming\Mozilla\Firefox\Profiles\[Profile Folder])
    Create Folder: "chrome" (%UserProfile%\AppData\Roaming\Mozilla\Firefox\Profiles\[Profile Folder]\Chrome)
    Copy and Paste this File into Folder

*/


/* ----- Hide Bookmark Star on URL bar ----- */

#star-button-box {
    display:none !important;
    }

/* ----- Extension Page URL Bar Shorten  ----- */

#identity-box.extensionPage label{
    display:none !important;
}

/* ----- Hide Camera and Microphone Popup Warning ----- */

#webrtcIndicator {
  display: none;
}

/* ----- Remove Back, Forward, Reload, and Bookmark Star Button on Right Click Context Menu ----- */

#context-navigation {
    display:none !important;
}

/* ----- Hide Recent Bookmarks ----- */

/* Recent Bookmarks Heading */
#PanelUI-bookmarks #panelMenu_recentBookmarks, 
/* Recent Bookmarks List */
#PanelUI-bookmarks #panelMenu_bookmarksMenu {
  display: none !important;
}

/* ------------------- */

/* ----- Vertical Tabs ----- */
/*
#TabsToolbar {
    display:none !important;
}

#menubar-items {
    display:none !important;
}
*/
/* ------------------- */
